*{
    margin: 0;
    padding:0;   
}
header{
    top:0;
    position: fixed;
    background-color: #f8f1e7;
    width: 100%;
}
 body{
    background-color: #f8f1e7;
 }
.bar1{
    margin:0px 350px 0px 110px;
}
.bar2{
    margin: 0px 40px 0px 220px;
}
h1{
    color: #502314;
    margin: 0px 70px;  
}
#start{
    font-size: 4rem;
    padding-left: 30px;
    margin-top: 90px;
}
.card{
    border: 0px solid #f8f1e7;
    height: 500px;
    width: 550px;
    margin: 8px;
    border-radius: 20px;
    background-color: #fff;
}
img[alt="main-burger"]{
    height: 350px;
    width: 700px;
    padding-right: 100px;
    margin-bottom: 10px;
    margin-top: 60px;
}  
img[alt="burger"]{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
img[alt="last"]{   
    height: 450px;
    margin-left: 150px;
    margin-top: -50px;
}
.p1{
    display: block;
    background-color: #502314;
    padding: 20px;
    font-size: 13px;
    text-align: center;
    color: white;
    margin-bottom: 52px;
}
img[alt="appstore"]{
    padding:10px 0px 30px 50px;
}
img[alt="playstore"]{
    padding:10px 190px 30px 0px;
}
.card-body{
    padding: 15px 20px;
    color: #502314;   
}
a{
    color: #502314; 
}
h2,p,button{
    margin-bottom: 8px;
}
p{
    text-align: justify;
}
.table{
   margin: 0px 80px;  
}
.img_scan{
    background-color: #eee8de;
    margin-top: 170px;
}
.save{
    font-size: 48px;
    font-family: flame-bold;
    padding-left: 50px;
    color: #502314;
}
.save1{
    padding-top: 50px;
}
.save2
{
    padding-bottom: 20px;
}
.save3{
    padding: 0px 90px 50px 50px;
    text-align: justify;
    color: #502314;
}
.button3{
    color:white;
    background-color: #d62300;
    border: none;
    padding:10px 20px ;
    margin:7px 10px 6px 0px;
}
.button1{
    padding: 8px 16px;
    margin-left: 350px ;
    border:1px solid #502314;
    background-color: #fff;
}
.button1:hover{
    background-color: #eee8de;
}
.button2{
    margin-left: 90px;
    margin-right: 100px;
}
#butt1{
    background-color: #d62300;
    border: none;
    color: #fff;
}
#butt1:hover{
    background-color: rgb(214, 35, 0,0.7);
}
#butt2{
    background-color:  #f8f1e7;
    border:1px solid #502314;
    color: #502314;
}
#butt2:hover{
    background-color: #eee8de;
}
.icon{
    margin: 5px;
}
button{
    padding:14px 96px;
    margin: 16px 0px 0px 16px;
    border-radius: 25px;
}
.footer{
    display: block;
    text-transform: capitalize;
    font-size: 1rem;
     color: #502314;
     margin-top: 10px;  
}
.foot3,.foot4{
    padding: 0px 140px;
}  
footer{
    bottom: 0;
    position: fixed;
    background-color: #f8f1e7;
}